.BuildControl {
    display: flex;
    width: 30%;
    margin: auto;
    /* justify-content: space-evenly; */
}

.Left {
    width: 100%;
    text-align: left;
}

.Right {
    width: 100%;
    text-align: right;
}